.menuWrapper {
  margin: 0 auto;
  background-color: white;
}

.bodyWrapper {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.menu {
  background-color: rebeccapurple;
  width: 100%;
  margin: 0;
  text-align: center;
}

.menuItem {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  height: 100%;
  display: inline-block;
}

.menuLink {
  padding: 3px 7%;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  /* width: 100%; */
  text-decoration: none;
  color: white
}

.menuLink:hover {
  transform: scale(1.1);
  background-color: white;
  color: rebeccapurple;
}